@import '../../styles/common/variable';

.notification-list{
  padding: 10px;
}

.ant-list .ant-list-item-no-flex{
  padding: 10px;
  border: 1px solid transparent; /* To simulate table row borders */
  background-color: #ECEEF1;
  border-radius: 8px;
  margin-bottom: 10px;

}

.ant-list .ant-list-item-no-flex:hover {
  cursor: pointer;
  border: 1px solid #d9d9d9;
}