// _variables.scss

$primary-color: #7F56D9;
$secondary-color: #101828;
$subtitle-color: #475467;

$primary-hover-color: #7e2ccf;
$menu-item-color: #ffffff;
$menu-background-color: #0C111D;

$border-radius: 5px;
$border-color: #ccc;
